<div class="sidebar d-flex flex-column ">
    <a href="#">My QR Codes</a>
    <a class="logout" (click)="logout()"> Logout</a>
</div>
<div class="d-flex justify-content-end m-4">
    <a routerLink="/generationform" class="btn btn-primary"> Generate New QR CODE</a>
</div>
<div class="content">
    <div class="qr-code " *ngFor="let qrcode of QRCodes">
        <h2 class="">{{qrcode.qrName}}</h2>
        <img [src]="qrcode.qrPath" class="img" alt="My QR Code">
        <div>
        <button class="btn btn-primary" routerLink="/928141a1-c649-496a-b265-56342d4f3128"> Scan</button>
        </div>
        <div class="box">
            <button class="btn btn-primary" (click)="openEditDialog(qrcode.id)"> edit</button>
            <button class="btn btn-danger" (click)="openDeleteDialog(qrcode.id)"> Delete</button>
            <button (click)="getDeatils(qrcode.id)" class="btn btn-secondary"> Get Details</button>
        </div>
       
    </div>
</div>