.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}


/*
 * Base structure
 */


.cover-container {
    max-width: 42em;
  }
  main{
    margin-top: 45%;
    color: black;
  }
  .box{
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    justify-content: center;
  }
  