<button type="button" class="close m-2" (click)="closeDialog()">&times;</button>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="content">
            <h2> Are You sure You Want To Delete This QR Code ? </h2>
            <div class="d-flex justify-content-center box">
            <button class="btn btn-danger" (click)="DeleteQR()">Yes</button>
            <button class="btn btn-primary" (click)="closeDialog()"> No</button>
            </div>
            <div *ngIf="deleteError" class="text-danger mt-2">
                {{errorMessage}}
            </div>
            </div>
        </div>
    </div>
</div>