<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="qr-form">
                <h2 class="text-center mb-4">Generate QR Code</h2>
                <form [formGroup]="qrCodeForm" (ngSubmit)="generate()" id="qr-form" >
                    <div class="form-group p-3">
                        <label for="qr-text" class="p-2">Enter URL</label>
                        <input type="text" formControlName="URLValue" class="form-control" id="qr-text" placeholder="Enter the URL">
                    </div>
                    <div class="form-group p-3">
                        <label for="qr-text" class="">Enter Name</label>
                        <input type="text" formControlName="QRName" class="form-control" id="qr-text" placeholder="Enter Name">
                    </div>
                    <button  type="submit" class="btn btn-primary btn-block btn-generate mt-2" id="generate-btn">Generate QR Code</button>
                </form>
                <div class="text-center mt-3">
                    <img src="" alt="Generated QR Code" id="qr-code-img" style="display: none;">
                </div>
            </div>
        </div>
    </div>
</div>